* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    /*max-width: 1000px;*/
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: .2em;
}

h2 {
    font-size:1.75em;
    margin-bottom: .3em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    display: inline;
}

nav {
    margin: .5em;
}

nav a {
   margin: 1em; 
   font-size: 1.1em;
}

a, a:visited {
    color: rgb(0, 0, 179);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dotted gray;
    color:black;
}

.no-bullets {
    list-style-type: none;
    margin-left: 5em;
}

.no-bullets li {
    margin: .2em 0;
    text-indent: -3em ;
}

.bullets {
    list-style-type: initial;
    margin-left:1.1em;
}

.bullets li {
    text-indent: 0;
}

#content-wrapper {
    margin:20px auto;
    max-width: 1250px;
    text-align: center;
}

#main-content{
    text-align: left;
    width: 96%;
    max-width: 700px;
    margin: 0 auto;
}

#headshot {
    border-radius: 50%;
    width:25%;
    max-width:300px;
    min-width:200px;
    height:auto;
    display:inline-block;
    vertical-align: middle;
}