* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 32px;
    margin:10px;
}

a, a:visited {
    color: rgb(0, 0, 179);
    margin: 1.25em;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dotted gray;
    color:black;
}

#content-wrapper {
    margin:20px;
}

#main-content {
    display:inline-block;
}

#headshot {
    border-radius: 50%;
    width:30%;
    height:auto;
    display:inline-block;
    vertical-align: middle;
}

#header {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1.25em;
    margin-bottom: 10px;
}

.center {
    text-align: center
}