* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1.25em;
}

a, a:visited {
    color: rgb(0, 0, 179);
    margin: 1.25em;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dotted gray;
    color:black;
}